---
interface Props {
    question: string;
    answer: string;
}

const { question, answer } = Astro.props;
import { Icon } from "@components/ui/Icon";
---

<div class="border-b border-gray-200 py-6">
    <details class="group">
        <summary
            class="flex justify-between items-center cursor-pointer list-none"
        >
            <span
                class="text-lg font-medium text-dark-800 group-hover:text-gold-600"
                >{question}</span
            >
            <span
                class="transition-transform duration-300 transform group-open:rotate-180"
            >
                <Icon name="chevronDown" className="w-6 h-6 text-dark-500" />
            </span>
        </summary>
        <div class="mt-4 text-dark-600 prose max-w-none">
            <p>{answer}</p>
        </div>
    </details>
</div>
